* {
	font-family: "Cabin", sans-serif;
}

body {
	padding: 20px;
}

.row {
	text-align: center;
	padding-top: 20px;
}

h1 {
	font-size: 72px;
}

.headline {
	padding-bottom: 50px;
}

label {
	font-size: 36px;
}

h3 {
	font-size: 36px;
	padding-top: 40px;
}

i {
	font-size: 72px;
}

.mood-icon {
	display: inline-block;
	padding-right: 20px;
	padding-left: 20px;
}

button {
	font-size: 24px;
	padding-top: 50px;
}

img {
	width: 25%;
}